<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="LinqToLists Custom Rules" Description="Ruleset used for LinqToLists." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1026" Action="None" />
  </Rules>
</RuleSet>